<!DOCTYPE html>
<meta charset="UTF-8">
<title>Web Project</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; text-align:center; max-width: 400px;}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
