<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1>Hello</h1>
        <p>
        <input type='text' id='usrname'>
        Username
        </input>
        </p>
        <p>
        <input type='text' id='pwd'>
        Password
        </input>
        </p>
        <p>
        <button class="btn btn-success" id="login">
          Login
        </button>
        </p>
        <p>
        <button class="btn btn-success" id="register">
          Register
        </button>
        </p>
    </div>
  </body>
</html>
